body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Common */
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}

/* Checkout Steps */
.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 0.3rem #eb6864 solid;
  color: #eb6864;
}

/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}

/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}

/* Shopping Cart */
.shopping-cart {
  width: 80%;
  height: 125%;
  margin: 40px auto;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

/* Product Image */
.image {
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Product Description */
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  margin-right: 60px;
  width: 220px;
}

.description span {
  display: block;
  font-size: 25px;
  color: #43484d;
  font-weight: 500;
}

/* Product Quantity */
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

/* Total Price */
.total-price {
  width: 120px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

/* Responsive */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}

/* Header */

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #eb6864;
  cursor: pointer;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  background-color: #131921;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #131921;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  background-color: #131921;
}

/* Form */
.form {
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
  justify-content: center;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  order: 1;
  width: 10em;
  padding-right: 0.5em;
}

.form input,
textarea,
select {
  order: 2;
  flex: 1 1 auto;
}

.form input,
select,
textarea {
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.2rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Product Page */
.product-page div {
  background-color: rgb(249, 252, 255);
  color: black;
}

.photo-gallery img {
  float: left;
  margin: 30px;
}

.product-page h1 {
  text-align: left;
  margin: 10px;
}

.product-table {
  padding-top: 3em;
  float: left;
}

.product-page table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  border: none;
  float: left;
}

.product-page td,
th {
  text-align: left;
  padding: 8px;
}

.product-page p {
  font-size: 16px;
}

.game-description h1 {
  text-align: center;
}
.game-description div {
  float: center;
  width: 40%;
  padding-right: 2em;
}
.product-page li {
  margin-top: 20px;
}

/* Tables */
table caption {
  caption-side: top;
  color: #000000;
}

.orders th {
  text-align: center;
}

.products th {
  text-align: center;
}

.table th {
  text-align: center;
}